@{
    ViewBag.Title = "Report";
    ViewBag.dashboard = "Report Asset Per Class";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
    ViewBag.pathParent = Url.Content("~").Substring(0, Url.Content("~").Length - 1);
}

<input type="hidden" id="urlPath" name="urlPath" value="@ViewBag.pathParent" />

<div class="row" id="form">

    <div class="col-md-12">

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2">Departemen</label>
                <div class="col-md-4">
                    <input type="text" id="dd_dept" name="dd_dept" data-bind="value: DEPARTEMEN, enabled: isTypeEnabled" style="width:100%" />
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2">Class</label>
                <div class="col-md-4">
                    <input type="text" id="dd_coa" name="dd_coa" data-bind="value: COA_CODE" style="width:100%" />
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2">Jenis Asset</label>
                <div class="col-md-4">
                    <input type="text" id="dd_jenisAsset" name="dd_JenisAsset" data-bind="value: TYPE_CODE, enabled: isTypeEnabled" style="width:100%" />
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2"></label>
                <div class="col-md-1">
                    <button class="btn btn-primary" onclick="bindReport()"><span class="glyphicon glyphicon-download">&nbsp;</span>Submit</button>
                </div>
            </div>
        </div>

        <hr />


    </div>

</div>

<div class="row" id="wnd_report">
    <div class="col-md-12">
        <iframe id="iframe_report" width="100%" height="560px" style="display:none"></iframe>
    </div>
</div>

<div class="row" style="display:none">

    <div id="wnd_employee">
        <div id="gridEmployee"></div>
    </div>

</div>




<script>

    $(document).ready(function () {


        $("#dt_from").kendoDatePicker({
            format: "yyyy-MM-dd",
            value: new Date()
        })

        $("#dt_to").kendoDatePicker({
            format: "yyyy-MM-dd",
            value: new Date()
        })

        $("#wnd_employee").kendoWindow({
            width: "800px",
            height: "400px",
            title: "Data Karyawan",
            visible: false,
            modal: true,
            actions: [
                "Close"
            ],
            //close: onClose
        })



    });

    function loadGridEmployee() {
        $("#gridEmployee").empty();
        var grid = $("#gridEmployee").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: $("#urlPath").val() + "/Asset/ReadEmployee",
                        contentType: "application/json",
                        type: "POST",
                        cache: false,
                        complete: function (data) {
                            if (data.responseJSON.status == 0) {
                                alert(data.responseJSON.error);
                            }

                        }
                    },


                    parameterMap: function (data, operation) {

                        return kendo.stringify(data)

                    }
                },
                pageSize: 100,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
                schema: {
                    data: "Data",
                    total: "Total",
                    model: {
                        id: "Nrp",
                        fields: {
                            Nrp: { type: "string", filterable: true, sortable: true, editable: false },
                            Nama: { type: "string", filterable: true, sortable: true, editable: false },
                            JABATAN: { type: "string", filterable: true, sortable: true, editable: false },
                            Departemen: { type: "string", filterable: true, sortable: true, editable: false },
                        }
                    }
                }
            },
            height: 500,
            filterable: true,
            sortable: true,
            pageable: true,
            resizable: true,
            groupable: false,
            pageable: {
                refresh: true,
                buttonCount: 10,
                input: true,
                pageSizes: [10, 20, 50, 100, 1000, 100000],
                info: true,
                messages: {
                }
            },
            editable: false,
            columns: [
                {
                    command: [{ text: "Pilih", click: pilih }], title: "Action", width: "100px"
                },
                { field: "Nrp", title: "NRP", width: "100px", format: "{0:dd/MM/yyyy}" },
                { field: "Nama", title: "Nama", width: "150px" },
                { field: "JABATAN", title: "Jabatan", width: "150px" },
                { field: "Departemen", title: "Dept.", width: "150px" },
            ],
            dataBinding: function () {
                window.rowNo = (this.dataSource.page() - 1) * this.dataSource.pageSize();
            }
        });
    }

    $("#dd_coa").kendoDropDownList({
        filter: "startswith",
        dataSource: {
            type: "json",
            transport: {
                read: {
                    url: $("#urlPath").val() + "/Asset/AjaxReadCOA",
                    contentType: "application/json",
                    type: "POST",
                    cache: false
                }
            },
            schema: {
                data: "Data",
                total: "Total"
            }
        },
        dataTextField: "COA_NAME",
        dataValueField: "COA_CODE",
        optionLabel: "Pilih...",
    });

    $("#dd_jenisAsset").kendoDropDownList({
        filter: "startswith",
        dataSource: {
            type: "json",
            transport: {
                read: {
                    url: $("#urlPath").val() + "/Asset/AjaxReadJenisAsset",
                    contentType: "application/json",
                    type: "POST",
                    cache: false
                }
            },
            schema: {
                data: "Data",
                total: "Total"
            }
        },
        dataTextField: "TYPE_NAME",
        dataValueField: "TYPE_CODE",
        optionLabel: "Pilih...",
    });

    $("#dd_dept").kendoDropDownList({
        filter: "startswith",
        dataSource: {
            type: "json",
            transport: {
                read: {
                    url: $("#urlPath").val() + "/Asset/AjaxReadDept",
                    contentType: "application/json",
                    type: "POST",
                    cache: false
                }
            },
            schema: {
                data: "Data",
                total: "Total"
            }
        },
        dataTextField: "DEPARTEMEN",
        dataValueField: "DEPARTEMEN",
        optionLabel: "Pilih...",
    });

    function viewEmployee() {

        loadGridEmployee()
        $("#wnd_employee").data("kendoWindow").center().open();
    }

    function pilih(e) {
        e.preventDefault;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        //  console.log(dataItem.Nrp);

        $("#tx_pic").val(dataItem.Nrp)

        $("#wnd_employee").data("kendoWindow").center().close();

    }

    function bindReport() {

        $("#iframe_report").show();
        var i_str_dept = $("#dd_dept").val();
        var i_str_coa = $("#dd_coa").val();
        var i_str_jenisAsset = $("#dd_jenisAsset").val();

        var frame = document.getElementById("iframe_report");
        frame.src = "/Reports/ReportAssetClass.aspx?DEPARTEMEN=" + i_str_dept
            + "&COA_CODE=" + i_str_coa
            + "&TYPE_CODE=" + i_str_jenisAsset;
    }


</script>
